build
build-profiling
perf.data*

# ignore PKGBUILD files except for the actual PKGBUILD file
resources/PKGBUILD/*
!resources/PKGBUILD/PKGBUILD
!resources/PKGBUILD/quadcast2srgb.install

# ignore debug internal example videos
example_videos/*
!example_videos/badapp.bin
!example_videos/stars.bin

packages/*