# allow 03f0/02b5 access for hidraw so we don't need sudo 
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="02b5", \
    TAG+="uaccess", TAG+="systemd"